.scheduleView {
    flex-grow: 1;
    padding: 20px 60px;
    background-color: #fffafa;
    height: calc(100vh - 3rem);
    overflow-y: auto;
}

.addSemester {
    display: flex;
    justify-content: center;
    width: 145px;
    height: 40px;
    background-color: #a40000;
    border: 0px solid white;
    border-radius: 4px;
    color: white;
    align-items: center;
}

.addSemester:hover {
    opacity: 70%;
}

.addSemester span {
    font-weight: 600;
}

.plusIcon {
    font-size: 12px;
}

.semesterWrapper {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}