.mainComponent {
    width: 325px;
    min-height: 40px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    gap: 10px;
}

.mainComponent:hover {
    cursor: grab;
}

.dragComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    align-self: stretch;
    background-color: rgb(0, 202, 0);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.courseTitle {
    line-height: 1.1;
    width: 232px;
    padding: 5px 0;
}

.dragIcon {
    color: white;
    font-size: 16px;
    padding: 1.2px;
}

.creditsNr {
    flex-grow: 1;
    text-align: right;
    font-size: 10px;
    padding-right: 7px;
}