/* src/components/Basket/Basket.module.css */

.basket {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    width: 300px;
    margin: 20px;
  }
  
  .button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #d80000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  